name: Python Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install PDM
        run: |
          pip install pdm
          pdm install

      - name: Configure Git User
        run: |
          git config --global user.name "semantic-release-bot"
          git config --global user.email "semantic-release-bot@users.noreply.github.com"

      - name: Run Semantic Release
        run: |
          pdm run semantic-release publish
        env:
          GH_TOKEN: ${{ secrets.PAT_TOKEN }}
